.my-slider{
    .slider-item{
        height: 100vh;
        position: relative;
        .slider-content{
            position: absolute;
            transform: translateY(-50%);
            top: 50%;
            left: 10%;
            z-index: 5;
            width: 100%;
            h1{
                font-size: 4rem;
                font-weight: 700;
                color:#fff;
                margin: 20px 0;
            }
        }
    }
}